{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container-fluid pt-3">
  <div class="row removable">
      <div class="col-lg-12 px-sm-0">
          <div class="card shadow-none px-0 bg-transparent mt-0 mb-4">
              <div class="card-body px-0 pb-0">
                  <div class="px-0 pb-4">
                      <div class="row flex-row">
                          <div class="col-lg-3 mb-4">
                              
                          </div>
                          <div class="col-lg-8 custom-widened-column">
                            <div class="card-body overflow-auto overflow-x-hidden" style="height: 100%;" id="chatContainer">
                                <!-- Your existing HTML content -->
                        
                                <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
                                <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
                                <df-messenger
                                    location="europe-west1"
                                    project-id="chatbot-410122"
                                    agent-id="3274f66f-ef01-44fb-9789-60285139ef0e"
                                    language-code="en">
                                    <df-messenger-chat chat-title="ChildBullyingSupport"></df-messenger-chat>
                                </df-messenger>
                                <style>
                                    df-messenger {
                                        z-index: 999;
                                        position: fixed;
                                        bottom: 8px; /* Adjust the bottom position */
                                        right: 0;
                                        top: 80px; /* Adjust the top position */
                                        max-width: 81%; /* Use max-width to limit the width */
                                        width: 100%; /* Use 100% to inherit the width of the parent */
                                    }
                                </style>
                            </div>
                        </div>
                        

                          </div>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
